@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  width: 40vmin;
  height: 40vmin;
  pointer-events: none;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: black;
}

.ant-space-item {
  display: flex;
  width: 100%;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
